
body { overflow-x: hidden; }

/*---------------------------------------------------------------------
 header
-----------------------------------------------------------------------*/
header { position: absolute; padding: 40px 0px 0px ; z-index: 99;display: inline-block;box-shadow: -11px -17px 29px #c3c3c3; width: 100%;  -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
header a.navbar-brand img {
    position: absolute;
    width: 123px;
    height: 117px;
    top: -45px;
    left: 40px;
    
}
header .navbar-light { padding: 0; }
header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:focus { color: #24262b; font-size: 16px; margin-right: 40px; /*padding: 5px 30px;*/  }
.navbar-light .navbar-nav .show>.nav-link { color: #ffffff; }
header .navbar-light .navbar-nav li.active .nav-link, header .navbar-light .navbar-nav li .nav-link:hover {  color: #38c6cb;background: transparent; }
.dropdown-item:active, .dropdown-item:hover { color: #ffffff;background: #19beec; }
header .container-fluid{padding: 0 100px;padding-bottom: 11px;}

/* Header sticky */
header.menu-sticky { background: #ffffff; padding: 12px 0;    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); position: fixed; z-index: 99; }
header.menu-sticky .container-fluid { padding: 0px 100px; }
header.menu-sticky .navbar.navbar-light .navbar-brand img { margin-top: 6px; }
header.menu-sticky .navbar-light .navbar-nav li.active .nav-link, header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover {  color: #19beec;background: transparent; }
header.menu-sticky .navbar-light .navbar-nav .nav-link, header.menu-sticky .navbar-light .navbar-nav .nav-link:focus { color: #000000; }


.btn-purchase .white-btn{ background: #ffffff; color: #020d1e; }
.btn-purchase .white-btn:hover{ color: #ffffff; }
.main-header.menu-sticky .btn-purchase .white-btn{ background: #19beec; color: #ffffff; box-shadow: inherit;}
.main-header.menu-sticky .button:before{background: #222222; color: #ffffff; box-shadow: none;}
/*---------------------------------------------------------------------
 Demo-page
-----------------------------------------------------------------------*/
.home-block { position: relative; background: #ffffff; overflow: hidden;}
.home-block:hover { box-shadow: 0px 0px 60px 0px rgba(35, 38, 43, 0.2); }


.home-block .hover-img {     position: absolute;
    left: 50%;
    top: -100%;
    display: inline-block;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;}
.home-block:hover .hover-img {     opacity: 1;
    visibility: visible;
    z-index: 2;
    top: 50%; display: none;}
.home-block:hover:before {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.btn-home {position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%); z-index: 1; background: #000000; }
.btn-home a{font-size: 18px; line-height: 30px;}
/*---------------------------------------------------------------------
 Responsive Section
-----------------------------------------------------------------------*/
.mobile { margin-top: 200px; }
.tab, .laptop { margin-top: 100px;     position: relative;
    z-index: 2;}
.desktop,.mobile{ position: relative;
    z-index: 2;}
/*---------------------------------------------------------------------
 One Click Import
-----------------------------------------------------------------------*/

.iq-oneclick { position: relative; overflow: hidden; }
.install-one { box-shadow: 0px 44px 48.5px 1.5px rgba(0, 0, 0, 0.1); width: 60%; }
.install-two { position: absolute; right: 5%; bottom: 0; box-shadow: 0px 44px 48.5px 1.5px rgba(0, 0, 0, 0.1); width: 60%; }
.oneclick-import { top: -419px !important; right: 84px; left: auto !important; }
.install-three { position: relative; z-index: 2; top: 100px; width: 60%; }
.oneclick { top: 0; right: 0; position: absolute; height: 145px; width: 145px; background: #19beec; border-radius: 100%; text-align: center; font-size: 34px; padding: 34px 0; color: #ffffff; }

/*---------------------------------------------------------------------
Premium Plugins
-----------------------------------------------------------------------*/
.iq-plugins { position: relative; overflow: hidden; }
.price.slider { left: 0; top: 0; }
.revslider { top: -100px !important; left: 180px !important; }
.plugin-img { position: relative; margin: 50px auto;z-index: 2; }
#scenethree {
    z-index:  2;
}
.wp-pagebuilder { top: -230px !important; }
.arrow-one { position: relative; left: 27px; top: 110px; z-index: 2; }
.arrow-two { position: relative; left: 45px; bottom: 4px; z-index: 2; }
.iq-plugins .price { position: absolute; height: 80px; width: 80px; background: #19beec; border-radius: 100%; text-align: center; line-height: 80px; color: #ffffff; }
.price.pagebuilder { position: relative; bottom: 0; left: 0; }
.blog-img { position: relative;}


/*--------------------------------------------------------------
                       counter
--------------------------------------------------------------*/
.iq-counter-box .iq-counter { text-align: center; padding-top: 60px; padding-bottom: 60px; }
.iq-counter-box .iq-counter .timer { font-size: 62px; line-height: 72px;font-family: 'Poppins', sans-serif; color: #020d1e; font-weight: bold; margin-bottom: 10px; display: inline-block; width: 100%; }
.iq-counter-box .iq-counter h6 { font-family: 'Poppins', sans-serif; color: #ffffff; }


/*Style 2*/
.iq-timer {margin: 0 30px; text-align: center; padding: 30px 15px; -webkit-box-shadow: 0px 2px 36.8px 3.2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 2px 36.8px 3.2px rgba(0, 0, 0, 0.1); box-shadow: 0px 2px 36.8px 3.2px rgba(0, 0, 0, 0.1); }
.iq-timer .timer { margin-bottom: 10px; font-size: 40px; line-height: 52px;font-family: 'Poppins', sans-serif; color: #24262b; font-weight: bold; display: inline-block; width: 100%; }
.iq-timer span { font-family: 'Poppins', sans-serif; text-transform: uppercase; font-size: 16px; color: #6f6f6f; }
.timer-icon { width: 60px; height: 60px; margin: 0 auto; }
.iq-timer i { color: #19beec; }
i.flaticon { font-size: 60px; line-height: 60px; margin-bottom: 15px; display: inline-block; vertical-align: middle; }
i.flaticon::before {font-size: inherit; margin-left: 0; }

/*---------------------------------------------------------------------
                               Clients
-----------------------------------------------------------------------*/

.our-clients{padding: 60px 0; background: #020d1e}
.owl-carousel .owl-item .clients-box img { cursor: pointer; width: auto; -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */ filter: grayscale(100%); /* FF 35+ */ }
.owl-carousel .owl-item .clients-box  img:hover { transition: filter .5s ease-in-out; -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */ filter: grayscale(0%); /* FF 35+ */ }


/*---------------------------------------------------------------------
                          Future Services
-----------------------------------------------------------------------*/
.future-services { margin-bottom: 45px; }
.iq-fancy-box { background: #fff;box-shadow: 0 0px 90px 0 rgba(0,0,0, .04); position: relative; top: 0; -webkit-transition: all 0.5s ease-out 0s;
 -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s; padding: 50px 30px; overflow: hidden; position: relative; margin-bottom: 30px;
   -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.iq-fancy-box .iq-icon { font-size: 36px; border-radius: 90px; display: inline-block; height: 156px; width: 156px;
    margin-bottom: 15px; line-height: 86px; text-align: center; color: #ffffff; -webkit-transition: all .5s ease-out 0s; -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s; -o-transition: all .5s ease-out 0s; transition: all .5s ease-out 0s; }



.iq-fancy-box:hover {box-shadow: 0 44px 98px 0 rgba(0,0,0,.12); top: -8px;}
.iq-fancy-box .fancy-content h4 { z-index: 9; position: relative; padding-bottom: 5px;font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    color: #202428;
    letter-spacing: 0;
    line-height: 1.3;
    display: block; }
.iq-fancy-box .fancy-content p { margin-bottom: 0 }
.iq-fancy-box .future-img i { font-size: 45px; color: #19beec; }

/*---------------------------------------------------------------------
                         promo-carousel Slider
-----------------------------------------------------------------------*/
.iq-inner-page .promo-carousel { padding-bottom: 0; overflow: hidden; }
.iq-inner-page  .promo-carousel .item-wrap { transform: translateX(0px); width: 400%; position: relative; white-space: nowrap; display: flex; }
.iq-inner-page .item { background: #222; text-align: center; display: flex; flex: 1; justify-content: center; align-items: center; }
.iq-inner-page  #grouploop-1 .item { margin-right: 30px; margin-bottom: 30px; }
.iq-inner-page  #grouploop-2 .item { margin-right: 30px; }
.iq-inner-page .item a { text-decoration: none; display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: center; color: #fff; font-weight: bold; line-height: 1.4; height: 100%; }
.iq-inner-page .item.active { background: #C0392B; }
.iq-inner-page  .item.active a { color: #fff; }
.iq-inner-page     .title-box .subtitle:before { background: #ffffff; }
@media (min-width:768px) {
  .iq-inner-page  .promo-carousel .item-wrap { width: 200%; }
}


/*---------------------------------------------------------------------
                               OWL Carousel
-----------------------------------------------------------------------*/
.owl-carousel .owl-nav { display: block; position: absolute; text-indent: inherit; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); left: 0; width: 100%; cursor: pointer; z-index: 999; }
.owl-carousel .owl-nav .owl-prev {display: block;position: absolute;text-align: center;text-indent: inherit;left: 2%;width: auto;cursor: pointer;-webkit-transition: opacity 0.3s ease 0s, left 0.3s ease 0s;-moz-transition: opacity 0.3s ease 0s, left 0.3s ease 0s;-ms-transition: opacity 0.3s ease 0s, left 0.3s ease 0s;-o-transition: opacity 0.3s ease 0s, left 0.3s ease 0s;transition: opacity 0.3s ease 0s, left 0.3s ease 0s;}
.owl-carousel .owl-nav .owl-next { display: block; position: absolute; text-align: center; text-indent: inherit; right: 2%; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; transition: opacity 0.3s ease 0s, right 0.3s ease 0s; }
.owl-carousel .owl-nav i { font-size: 24px;  width: 44px; height: 44px; line-height: 42px; padding-left: 0px; display: inline-block; color: #d0d0d0; background: #ffffff; font-weight: normal; text-align: center; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.owl-carousel .owl-nav i:hover { background: #19beec; color: #fff; }

/*---------------------------------------------------------------------
                               Tab
-----------------------------------------------------------------------*/
.our-info.gray-bg.menu-sticky { position: fixed; top: 76px; display: inline-block; width: 100%; z-index: 999; }
.our-info{border-bottom: 1px solid rgba(0, 0, 0, 0.12)}
.our-info ul.about-us li { margin:0;width: 32%;position: relative;}
.our-info ul.about-us li a{display: block;padding: 30px;}
.our-info ul.about-us li a i{position: absolute; top: 20%; left: 24%; font-size: 50px;}
.our-info ul.about-us li a.active ,.our-info ul.about-us li a:hover{color: #19beec; }
.our-info ul.about-us li a{color:#6f6f6f;}
.our-info ul.about-us li a.active:before { display: inline-block; width: 100%; height: 3px; background: #19beec; content: ""; position: absolute; left: 0; bottom: 0px; }
.our-info ul.about-us li a:before { width: 0; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; height: 3px; background: #19beec; content: ""; position: absolute; right: 0; bottom: 0px; }
.our-info ul.about-us li a:hover:before { content: ""; display: inline-block; width: 100%; height: 3px; background: #19beec; content: ""; position: absolute; left: 0; bottom: 0px; }
.our-info ul.about-us li a span { display: inline-block; }
.our-info ul.about-us li a span:before { content: ""; display: block; height: auto; top: 100%; left: 100%; border-bottom: 0; border-left: 0; border-right: 0; }
.our-info.gray-bg.menu-sticky ul.about-us li a { padding: 15px; }
.our-info.gray-bg.menu-sticky ul.about-us li a i{top: 12%;}
.list-details li span{color: #020d1e; font-size: 16px; font-weight: 600;}
.list-details li {margin-bottom: 10px;}
.list-details li i{color: #19beec; }

.inner-pages{padding: 6px;box-shadow: 0px 8px 60px 12px rgba(35, 38, 43, 0.2); position: relative; top: 0;-webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s;}
.inner-pages:hover{top: -10px;}

footer.footer-bg ul li i{font-size:40px; color:#19beec; }
footer.footer-bg ul li {margin-right:15px;}
footer.footer-bg h2{font-size: 50px; font-weight: normal;}
/* 19-09-2019 */


.home-page .home-block {     border: 5px solid #ffffff;
    position: relative;
    top: 0;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    letter-spacing: 1px;
    overflow: hidden; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; }

   .main-carousel{
   margin-left: 20px;
   background-color: background: #19beec;
   }
      .carousel-item img{
border-radius: 37px;
margin-top: 50px;
padding: 20px;
margin-left: 3px;
      }
      .carousel-control-prev-icon, .carousel-control-next-icon{
        margin-top: 150px;
       color: red;
      }
      .carousel-indicators li{
        margin-top: -41px;
      }
.socialm{
    position: relative;
    width: 203px;
    height: 206px;
    margin-left: 37px;
}
.foooter2 p {
    font-size: 16px;
    margin-top: -25px;
    margin-left: 45px;
    margin-bottom: 16px;
}
.foooter3{
  position: relative;
  top: -179px;
  left: 600px;
}
.foooter3 a .area1{
  color: #19beec;
  font-weight: 400;
  font-size: 23px;
}
.foooter3 a .area1:hover{
     color: #007bff;
}
.foooter3 p{
     margin-bottom: -2px;
     font-size: 15px;
     color:#4d4d4d;
   }
   .foooter4{
    position: absolute;
      margin-top: -395px;
      margin-left: 926px;
   }
.foooter4 p{
    font-size: 23px;
    font-weight: 400;
    color: #19beec;
    margin-bottom: 23px;
}
.foooter4 p:nth-child(2){
    font-size: 18px;
    color:#4d4d4d;
    width:340px;
}
.foooter4 input{
    margin-top: 65px;
    width: 278px;
    height: 28px;
    border: 1px solid #19beec;
    padding: 20px;
    border-radius: 37px;
}
.iq-icon img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.iq-fancy-box{
  border-radius: 60px;
}
.profile{
  width: 445px;
  height: 475px;
  background-color: ;
  margin-left: -15px;
  margin-top: 70px;
  box-shadow: 3px 4px 10px #c3c3c3;
  border-radius: 20px;
}
.profile-header img{
  width: 200px;
  height: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
margin-top: 50px;
  border-radius: 30px;
}
.profile-header p{
  font-size: 1.375rem;
  font-family: "Maven Pro", sans-serif;
  color: #202428;
text-align: center;
margin-top: 20px;
    font-weight: 600;
    line-height: 1.3;
    display: block;
}
.profile-footer a{
    display: block;
  text-align: center;
}
.profile-header{
    border-bottom:1px solid #dee2e6;
}
.profile-footer{
  margin-top: 35px;
}
.info{
  width: 909px;
  height: 100%;
  background-color: ;
  margin-left: 25px;
  margin-top: 70px;
  box-shadow: 3px 4px 10px #c3c3c3;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
.info-header a p{
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  color: #202428;
text-align: center;
margin-top: 20px;
margin-left: 6px;
}
.info-header{
    border-bottom:1px solid #dee2e6;
    padding-top: 20px;
    padding-bottom: 3px;
}

.info-header a p:hover{
color: #86030a;
-webkit-transition: color 0.5s;
transition: color 0.5s;
}
.inf{
      border-left:2px solid #dee2e6;
}
.info-footer{
  border-bottom:1px solid #dee2e6;
  padding-bottom: 30px;
}
.info-footer h5 {
  font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    color: #202428;
    letter-spacing: 0;
    line-height: 1.3;
    display: block;
    padding-top: 15px;
    padding-bottom: 26px;
}
.inf p ,.inf span{
  color: red;
  display: inline;
  padding-top: 30px;
  padding-left: 5px;
}
.inf p{
  font-size: 15px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    color: #202428;
    letter-spacing: 0;
    line-height: 1.3;
    padding-bottom: 30px;
    padding-left: 25px;
}
.inf span{
  font-size: 15px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    color: #0067ac;
    letter-spacing: 0;
    line-height: 1.3;
}
.edu{
  width: 900px;
    height: 100%;
    margin-left: 460px;
    margin-top: -208px;
    padding-left: 20px;
    box-shadow: 3px 4px 10px #c3c3c3;
    border-radius: 20px;
    padding-bottom: 21px;
}
.edu h5{
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    color: #202428;
    letter-spacing: 0;
    line-height: 1.3;
    display: block;
    padding-top: 15px;
    padding-left: 18px;
    padding-bottom: 26px;
}
.einfo{
  border-left: 2px solid #dee2e6;
  padding-bottom: 10px;
  height: 76px;
  margin-top: 20px;
}
.einfo p{
  padding-left: 20px;
  margin-bottom: -12px;
  padding-top: 2px;
  font-weight: 400;
}
.univ{
      font-size: 16px;
          color: #0067ac;
}
.einfo span{
  padding-left: 20px;
}